<ion-header >
  <!-- <ion-title>
    About
  </ion-title> -->
</ion-header>

<ion-content padding>
   <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>


</ion-content>
