<ion-content class="login auth-page">
  <div class="login-content">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>
    <ion-row> </ion-row>
    <div>
      <form #loginForm="ngForm" autocomplete="off">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item no-lines class="item-input-block">
                <ion-icon
                  name="mail"
                  item-start
                  style="font-size:22px;"
                  class="text-grey" >
                </ion-icon>
                <ion-input
                  text-center
                  name="username"
                  id="loginField"
                  placeholder="play@khelojiyo.com"
                  type="email"
                  required
                  [(ngModel)]="username"
                  #email
                ></ion-input>
                <div
                  class="text-grey"
                  ion-button
                  clear
                  item-end>

              </div>
              </ion-item>
              <ion-item no-lines class="item-input-block">
                <ion-icon
                  name="key"
                  item-start
                  style="font-size:22px;"
                  class="text-grey"
                >
                </ion-icon>
                <ion-input
                  text-center
                  name="password"
                  id="passwordField"
                  [(ngModel)]="password"
                  [type]="passwordType"
                  placeholder="********"
                  required
                ></ion-input>
                <button
                  class="text-grey"
                  ion-button
                  clear
                  item-end
                  (click)="hideShowPassword()"
                >
                  <ion-icon [name]="paIcon" style="font-size:22px;"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row
          style="margin-left:18px;
                       margin-right:18px;"
        >
          <ion-col>
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            <button
              ion-button
              class="submit-btn"
              style="padding:22px;border-radius: 5px;"
              full
              type="submit"
              (click)="login()"
              [disabled]="!loginForm.form.valid"
            >
              Login
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="wrapper-div">
            <div class="left_item hide">
              <button
                ion-button
                style="font-size:12px;
                  font-style: italic;
                  text-transform: initial;
                  text-decoration: underline"
                class="text-white"
                clear
                (click)="forgotPassword()"
              >
                Forgot password?
              </button>
            </div>
            <!-- <div class="right_item"> -->
                <div text-center>
              <button
                ion-button
                style="font-size:12px;
              font-style: italic;
              text-transform: initial;
              text-decoration: underline"
                class="text-white"
                clear
                (click)="signup()"
              >
                New User? Sign Up
              </button>
            </div>
          </div>
        </ion-row>
        <B>
          <div class="hide"
            style="text-align:center;margin:20px;
                      color: white;font-size:12px;" >
            Or, Sign in using
          </div>
        </B>
        <ion-row class="right-text" style="margin:18px;">
          <ion-list class="right-text">
            <!-- <div class="wrapper-div"> -->
                <div >
              <div class="left_item hide">
                <button
                  class="loginBtn loginBtn--facebook"
                  (click)="loginWithFacebook()"
                >
                  FACEBOOK
                </button>
              </div>
              <!-- <div class="right_item"> -->
                  <div  text-center>
                <button
                  class="loginBtn loginBtn--google hide"
                  (click)="loginWithGoogle()"
                >
                  &nbsp;GOOGLE&nbsp;
                </button>
              </div>
            </div>
          </ion-list>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
