<ion-header>
  <ion-navbar #navbar color="primary">
    <ion-buttons left>
      <button
        ion-button
        icon-only
        (click)="viewCtrl.dismiss()"
        class="my-style-for-modal" >

        <ion-title>Select Role</ion-title>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content center class="login greywhite-page">
         <div>

            <ion-list radio-group >
                <ion-item>
                  <ion-label>Coach</ion-label>
                  <ion-radio value="Coach" (ionSelect)="selection(1)"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Player</ion-label>
                  <ion-radio value="Player" (ionSelect)="selection(2)"></ion-radio>
                </ion-item>

              </ion-list>
          <ion-row class="right-text" style="margin:18px;">
            <ion-list class="right-text">
              <div class="wrapper-div">
                <div class="left_item">
                  <button
                    ion-button
                    class="submit-btn"
                    style="border-radius: 5px;"
                    (click)="viewCtrl.dismiss()">
                    &nbsp;DISCARD&nbsp;
                  </button>
                </div>
                <div center>
                  <button
                    ion-button
                    class="submit-btn"
                    style="border-radius: 5px;"
                    (click)="socialSignup()"
                  >
                  &nbsp;SAVE&nbsp;
                  </button>
                </div>
              </div>
            </ion-list>
          </ion-row>
        </div>
      </ion-content>
