<ion-header>
  <ion-navbar #navbar color="primary">
    <ion-buttons left>
      <button
        ion-button
        icon-only
        (click)="viewCtrl.dismiss()"
        class="my-style-for-modal"
      >
        <ion-icon name="arrow-back"></ion-icon>
        <ion-title>Add New Athlete</ion-title>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="login greywhite-page">
  <div class="login-content">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <div style="text-align:center;" class="user-avatar">
            <img src="{{ teamImage }}" class="circle-pic" />
          </div>
          <br />
          <div class="autocomplete">
            <ion-item no-lines  class="white-input-block">
              <ion-input
                type="text"
                (ionChange)="search()"
                debounce="500"
                (ionChange)="search()"
                (ionBlur)="removeFocus()"
                name="email"
                id="loginField"
                placeholder="Email"
                type="email"
                center
                required
                [(ngModel)]="emailId"
                #email
              ></ion-input>
            </ion-item>
            <ion-list>
              <ion-item
                *ngFor="let country of countries"
                (click)="add(country)" >
                {{ country.email }}
              </ion-item>
            </ion-list>
          </div>
          <br />

          <ion-item no-lines class="white-input-block">
            <ion-input
              name="firstname"
              id="loginField"
              placeholder="First Name"
              type="text"
              center
              required
              [(ngModel)]="firstName"
              #email
            ></ion-input>
          </ion-item>
          <br />

          <ion-item no-lines class="white-input-block">
            <ion-input
              name="lastname"
              id="loginField"
              placeholder="Last Name"
              type="text"
              center
              required
              [(ngModel)]="lastName"
              #email
            ></ion-input>
          </ion-item>

          <br />
          <ion-item no-lines class="white-input-block">
            <ion-input
              name="jersyno"
              id="loginField"
              placeholder="Jersy Number"
              type="text"
              center
              required
              [(ngModel)]="jersyNo"
              #email
            ></ion-input>
          </ion-item>

          <br />
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="right-text" style="margin:18px;">
      <ion-list class="right-text">
        <div class="wrapper-div">
          <div class="left_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="discard()"
            >
              DISCARD
            </button>
          </div>
          <div class="right_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="save()"
            >
              ADD ATHLETE
            </button>
          </div>
        </div>
      </ion-list>
    </ion-row>
  </div>
</ion-content>
