page-addroster {
  #rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  #container {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
  }



}

ion-buttons button[icon-only].my-style-for-modal {
  margin: 0 6px;
  min-width: 36px;
}

/*Roster Input Css----------------------------------*/
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}


.item-md ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input {
  margin-left: 2px;
}


/* Extreme Left Right Css -------------------------*/

.wrapper-div {
  display: inline-block;
  width: 100%;
}
.right_item {
  margin-right: 8px;
  color : white;
  float: right;

}
.left_item {
  margin-left: 8px;
  color : white;
  float: left;
}


/* Social Button Css-------------------------*/
.loginBtn {
box-sizing: border-box;
position: relative;
/* width: 13em;  - apply for fixed size */
margin: 0.2em;
padding: 0 15px 0 46px;
border: none;
text-align: left;
line-height: 34px;
white-space: nowrap;
border-radius: 0.2em;
font-size: 16px;
color: #FFF;
}
.loginBtn:before {
content: "";
box-sizing: border-box;
position: absolute;
top: 0;
left: 0;
width: 34px;
height: 100%;
}
.loginBtn:focus {
outline: none;
}
.loginBtn:active {
box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
background-color: #4C69BA;
background-image: linear-gradient(#4C69BA, #3B55A0);
/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
border-right: #364e92 1px solid;
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
background-color: #5B7BD5;
background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
/*font-family: "Roboto", Roboto, arial, sans-serif;*/
background: #DD4B39;
}
.loginBtn--google:before {
border-right: #BB3F30 1px solid;
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
background: #E74B37;
}


.image {
height: 5vw;
width: 5vw;
border: 2px solid #fff;
border-radius: 50%;
box-shadow: 0 0 5px gray;
display: inline-block;
margin-left: auto;
margin-right: auto;
}

.circle-pic{
width:68px;
height:68px;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.button.customBtn{
width:25px;
height: 25px;
}


.ion-content {
      &.content {
          div.scroll-content {
              top: 10%;
              left: 10%;
              width: 80%;
              height: 80%;
              overflow:hidden;
          }
      }

      &.content-ios {
          background-color: rgba(0, 0, 0, 0.3);

          div.scroll-content {
              background-color: #f8f8f8;
              border-radius: 13px;
              padding: 16px;
          }
      }

      &.content-md {
          background-color: rgba(0, 0, 0, 0.5);

          div.scroll-content {
              background-color: #fafafa;
              border-radius: 2px;
              box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
              padding: 24px;
          }
      }
  }


  .autocomplete {
    width: 100%;

    ion-item {
        ion-input {
            padding: 1px !important;
        }
    }

    ion-list {
        position: absolute;
        width: 95%;
        overflow-y: scroll;
        max-height: 150%;
        border: 5px;
        z-index: 999;

        ion-item {
            background: #f1f1f1;
        }

        ion-item:hover {
            cursor: pointer;
            background: #dddddd
        }
    }
  }




