

<ion-content padding>
  <ion-list>
      <ion-row *ngFor="let roster of rosters">
            <img class="circle-item" src="{{itemImage}}"  >
          <ion-label>
            <h6> {{roster.name}}</h6>
                {{roster.emailId}}</ion-label>
      </ion-row>
  </ion-list>
  <ion-fab bottom right [ngClass]="globVar.isPlayer ? 'hide' : ''" >
      <button (click)="addRosters()"
      ion-fab fab-bottom fab-right >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
