<ion-header>
  <ion-navbar #navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Score Card</ion-title>
    <ion-buttons end>
      <button
        [ngClass]="isEdit ? 'hide' : ''"
        ion-button
        tappable
        (click)="editView(true)">
        <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </button>
      <button
        [ngClass]="!isEdit ? 'hide' : ''"
        ion-button
        tappable
        (click)="editView(false)">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="login greywhite-page">
  <div class="login-content">
    <B>
      <div
        style="text-align:center;margin:10px;
                      color: black;font-size:20px;">
        {{ event.eventName }} ( {{ sports[globVar.team.sportsId] }} Race )
      </div>
      <div
        style="text-align:center;margin:5px;
          color: black;font-size:15px;">
        {{ event.venuesName }} ({{ event.scheduledDate | date: "dd/MM/yyyy" }}
        {{ event.scheduleTime }})
      </div>
    </B>
    <br />

    <ion-row style="border-bottom:1px solid grey">
      <ion-col class="col70">
        <ion-list end>
          <ion-label>
            <h5>Player</h5>
          </ion-label>
        </ion-list>
      </ion-col>
      <!-- <ion-col class="col10">
        <ion-list>
          <ion-label text-right><h5>Rank</h5></ion-label>
        </ion-list>
      </ion-col> -->
      <ion-col class="col10">
        <ion-list end>
          <ion-label text-right text-wrap><h5>Time</h5></ion-label>
        </ion-list>
      </ion-col>

      <!-- <ion-col class="col10">
        <ion-list>
          <ion-label><h5 text-wrap text-right end >Stop watch</h5></ion-label>
        </ion-list>
      </ion-col> -->
    </ion-row>
    <!-- ////////////Header end///////////////////-->
    <!-- ////////////Content Start //////////////-->
    <ion-grid>
      <ion-row *ngFor="let roster of scores; let i = index">
        <ion-col class="col70">
          <ion-list end>
            <ion-label text-wrap>
              <h6>{{ roster.playerName }}</h6>
            </ion-label>
          </ion-list>
        </ion-col>
        <!-- <ion-col class="col10" [ngClass]="isEdit ? 'hide' : ''">
          <ion-list>
            <ion-label text-right
              ><h6>{{ roster.rank}}</h6></ion-label        >
          </ion-list>
        </ion-col> -->
        <ion-col class="col10" [ngClass]="isEdit ? 'hide' : ''">
          <ion-list end>
            <ion-label text-wrap text-right>
              <h6>{{ roster.raceTime }}</h6></ion-label
            >
          </ion-list>
        </ion-col>

<!--
        <ion-col class="col10" [ngClass]="!isEdit ? 'hide' : ''">
          <ion-list end>
            <ion-item no-lines class="white-input-block">
              <ion-input
                right
                type="text"
                [(ngModel)]="roster.eRank"
                value="{{roster.rank}}"
                placeholder="Rank"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col> -->
        <ion-col class="col10" [ngClass]="!isEdit ? 'hide' : ''">
          <ion-list end>
            <ion-item no-lines class="white-input-block">
              <ion-input
                type="text"
                [(ngModel)]="roster.eRaceTime"
                value="{{ roster.raceTime }}"
                placeholder="Time">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <!-- <ion-col class="col10">
        <ion-buttons end>
          <button
            ion-button
            tappable
            (click)="stopWatch()">
            <ion-icon ios="ios-stopwatch" md="md-stopwatch"></ion-icon>
          </button>

        </ion-buttons>
      </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

 <!-- ////////////Add Player Start//////////////-->
 <!-- <ion-row>
    <ion-col class="col30">
      <ion-list end>
        <ion-item   class="ion-item-local">
          <ion-select
          disabled = "{{isNoPlayer}}"
            text-wrap
            class="customSelect-local"
            [selectOptions]="rosters[playerIndex]"
          >
            <ion-option
              text-wrap
              *ngFor="let roster of rosters; let i = index"
              value="{{ roster.name }}"
              selected="{{ (i == playerIndex).toString() }}"
              (ionSelect)="playerIndex = i"
            >
              <ion-label text-wrap>
                <h3>{{ roster.name }}</h3>
                <br />
              </ion-label>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="col10">
      <ion-list end>
        <ion-item no-lines class="white-input-block" class="ion-item-local">
          <ion-input
            text-right
            type="decimal"
            [(ngModel)]="eRaceTime"
            placeholder="i.e: 0.0s"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="col10">
      <ion-list end>
        <ion-item no-lines class="white-input-block ion-item-local">
          <ion-input
            text-right
            type="number"
            [(ngModel)]="eRank"
            placeholder="i.e: 1"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="col10">
      <ion-buttons end>
        <button ion-button tappable (click)="add()">
          Add
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row> -->
  <!-- ////////////AddPlayer end///////////////////  -->
