page-100mrace {



}
.switch {
  text-align: center;
  margin: auto;
  width: auto;
}

/*Login Input Css----------------------------------*/
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}


.item-md ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input {
  margin-left: 1px;
}


/* Extreme Left Right Css -------------------------*/

.wrapper-div {
  display: inline-block;
  width: 100%;
}
.right_item {
  margin-right: 8px;
  color : white;
  float: right;

}
.left_item {
  margin-left: 8px;
  color : white;
  float: left;
}



.image {
  height: 5vw;
  width: 5vw;
 border: 2px solid #fff;
 border-radius: 50%;
 box-shadow: 0 0 5px gray;
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
}


.circle-pic{
 width:68px;
 height:68px;
 -webkit-border-radius: 50%;
 border-radius: 50%;
}

.customSelect-local{
  max-width: 100% !important;
  width: 100%;
  padding: 13px 8px 13px 8px;

}

.col30{
  max-width :40% !important;
}
.col10{
  max-width :23% !important;
}
.ion-item-local{
  padding-left: 2px;
}
