<ion-content   [ngClass]="globVar.editPlayerPersonal ? 'hide' : ''"  class="greywhite-page">
  <div class="parent-local">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Personal Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">First Name</ion-label>
            <ion-label   text-right>{{Firstname}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Last Name</ion-label>
            <ion-label text-right>{{Lastname}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label" >Date of Birth</ion-label>
            <ion-label   text-right>{{profile.dob}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Height</ion-label>
              <ion-label   text-right>{{profile.height}}</ion-label>
              <ion-label class="grey-label left-seprator" >Weight</ion-label>
              <ion-label   text-right>{{profile.weigth}}</ion-label>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">BMI</ion-label>
              <ion-label   text-right>{{profile.bmi}}</ion-label>
          </ion-item>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Contact Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Email Id</ion-label>
              <ion-label   text-right>{{Email}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Mobile Number</ion-label>
              <ion-label   text-right>{{profile.contactNo}}</ion-label>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Address</ion-label>
              <ion-label   text-right>{{profile.address}}</ion-label>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">City</ion-label>
              <ion-label   text-right>{{profile.city}}</ion-label>
              <ion-label class="grey-label left-seprator">Pincode</ion-label>
              <ion-label   text-right>{{profile.pinCode}}</ion-label>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">State</ion-label>
              <ion-label   text-right>{{profile.state}}</ion-label>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Country</ion-label>
              <ion-label   text-right>{{profile.country}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-content [ngClass]="!globVar.editPlayerPersonal? 'hide' : ''"  class="greywhite-page">
  <div class="parent-local">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Personal Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">First Name</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="First Name"
              type="text"
              center
              [(ngModel)]="Firstname"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Last Name</ion-label>
            <ion-input
            end
            text-right
            type="text"
            placeholder="Last Name"
            type="text"
            center
            [(ngModel)]="Lastname"
          ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label
            style="padding-left: 0px;" class="grey-label" >Date of Birth</ion-label>
            <ion-datetime
            displayFormat="DD MMM, YYYY"
            placeholder="DD MMM, YYYY"
            [(ngModel)]="profileSend.dob"
            text-right
          ></ion-datetime>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Height</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 176cm"
              type="text"
              center
              [(ngModel)]="profileSend.height"
            >
            </ion-input>
            </ion-item>
            <br />
            <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label left-seprator" >Weight</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 70kg"
              type="text"
              center
              [(ngModel)]="profileSend.weigth"
            > </ion-input>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">BMI</ion-label>
              <ion-label   text-right>{{profile.bmi}}</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 20.0"
              type="text"
              center
              [(ngModel)]="profileSend.bmi"
            ></ion-input>
          </ion-item>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Contact Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Email Id</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g play@example.com"
              type="text"
              center
              [(ngModel)]="Email"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Mobile Number</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 989898454545"
              type="text"
              center
              [(ngModel)]="profileSend.contactNo"
            ></ion-input>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Address</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 41, ManaliPark"
              type="text"
              center
              [(ngModel)]="profileSend.address"
            ></ion-input>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">City</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g Ahmedabad"
              type="text"
              center
              [(ngModel)]="profileSend.city"
            ></ion-input>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label left-seprator">Pincode</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 380054"
              type="text"
              center
              [(ngModel)]="profileSend.pinCode"
            ></ion-input>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">State</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g Gujarat"
              type="text"
              center
              [(ngModel)]="profileSend.state"
            ></ion-input>
          </ion-item>
          <br/>
          <ion-item no-lines class="white-input-block">
              <ion-label class="grey-label">Country</ion-label>
              <ion-input
              end
              text-right
              type="text"
              placeholder="e.g India"
              type="text"
              center
              [(ngModel)]="profileSend.country"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

