page-userprofile {
  #rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  #container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Login Input Css----------------------------------*/
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md
  .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child
  .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.item-md ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input {
  margin-left: 2px;
}

/* Extreme Left Right Css -------------------------*/

.wrapper-div {
  display: inline-block;
  width: 100%;
}
.right_item {
  margin-right: 8px;
  color: white;
  float: right;
}
.left_item {
  margin-left: 8px;
  color: white;
  float: left;
}

/* Social Button Css-------------------------*/
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

.image {
  height: 5vw;
  width: 5vw;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.circle-pic-profile {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
}

.bgimg {
  background-image: url("assets/imgs/avatar.jpeg");
}

/* Header/Logo Title */
.local-header-coach {
  padding: 10px;
  text-align: center;
  background-image: url("../assets/imgs/splash.png");
  color: white;
  font-size: 30px;
}

.local-title {
  padding-left: 10px;
  color: black;
  font-size: 18px;

  //background: rgb(163, 163, 165);
  //border-bottom: 1px solid grey;
  //border-top: 1px solid grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.vertical-center > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.icon-local {
  color: color($colors, primary);
  margin-left: 10px;
}

.grey-label {
  margin-left: 5px;
  color: grey;
}

.left-seprator {
  border-left: 1px solid grey;
  padding-left: 10px;
  margin-left: -5px;
}

.parent-local {
  color: grey;
  font-size: 14px;
}
