<ion-header [scrollingHeader]="content">
    <div class="local-header-coach">
      <ion-navbar #navbar color="trasperrent">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title >Profile</ion-title>
        <ion-buttons end>
          <button
            [ngClass]="globVar.editPlayerPersonal ? 'hide' : ''"
            ion-button
            tappable
            (click)="editView(true)"
          >
            <ion-icon name="create"></ion-icon>
          </button>
          <button
            [ngClass]="!globVar.editPlayerPersonal ? 'hide' : ''"
            ion-button
            tappable
            (click)="editView(false)"
          >
            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
      <div>
        <div style="text-align:center;" class="user-avatar">
          <img text-center src="{{ userImage }}" class="circle-pic-profile" />
        </div>
        <br />
        <h3 ion-text text-center class="no-margin bold ">
          {{ Firstname }} {{ Lastname }}
        </h3>
        <br />
      </div>
    </div>
  </ion-header>

  <ion-content [ngClass]="isEdit ? 'hide' : ''" class="greywhite-page">
      <ion-tabs tabsPlacement="top">
          <ion-tab [root]="tab1Root" tabTitle="PERSONAL"></ion-tab>
          <ion-tab [root]="tab2Root" tabTitle="ACADMICS"></ion-tab>
          <ion-tab [root]="tab3Root" tabTitle="ATHLETICS"></ion-tab>
        </ion-tabs>
  </ion-content>
  <!-- //////////////////////////////////////////////////////////////////////// -->




