page-scheduletab {

}
/* Extreme Left Right Css -------------------------*/

.switch {
    text-align: center;
    margin: auto;
    width: auto;
}
.switchleft {
  text-align: left;
  margin-right: auto;
  margin-left: 10px;
  width: auto;
}
.switchright {
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  width: auto;
}
.right_item {
  margin-right: 8px;
  color : black;
  float: right;

}
.center_item {
  margin-right: 8px;
  color : black;
  align-self:center

}
.left_item {
  margin-left: 8px;
  color : black;
  float: left;
}

.selected {

  border: 2px solid #17A2D4;
  border-radius: 5px;
  color : black;

}
.deselected {
  border: 1px solid transparent;
  border-radius: 5px;
}
