

<ion-content >
  <ion-row class="text-center switch">
    <div
      right
      text-right
      row
      [ngClass]="isUpcomming ? 'selected' : 'deselected'"
      class="item-text-block switchright "
      (click)="selectionChange(true)">
      <span class="palinwhite-text">
        Upcomming
      </span>
    </div>
    <div
      left
      text-left
      row
      [ngClass]="!isUpcomming ? 'selected' : 'deselected'"
      class="item-text-block switchleft"
      (click)="selectionChange(false)">
      <span class="palinwhite-text">
        &nbsp;&nbsp;&nbsp;&nbsp;Past&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
    </div>
  </ion-row>
  <div style="clear: left;"></div>
    <ion-row *ngFor="let event of events" (click)="openScore(event)">
      <img class="circle-item"  src="{{ itemImage }}" />
      <ion-label>
        <h6>{{ event.eventName }}</h6>
        {{ event.scheduledDate | date: "dd/MM/yyyy" }} {{ event.scheduleTime }}
      </ion-label>
    </ion-row>

    <!-- <ion-list>
  <ion-item *ngFor="let item of items">
    <ion-thumbnail slot="start">
      <ion-img [src]="item.src"></ion-img>
    </ion-thumbnail>
    <ion-label>{{item.text}}</ion-label>
  </ion-item>
</ion-list> -->

  <ion-fab bottom right (click)="createEvent()"
    [ngClass]= "globVar.isPlayer|| !isUpcomming ? 'hide' : ''"
  >
    <button ion-fab fab-bottom fab-right>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
