<ion-content class="greywhite-page">
  <div class="parent-local">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold" style="display:inline-block;"
              >Education</ion-label            >
            <img
              (click)="addExperience()"
              src="../../assets/imgs/add.png"
              style="float:right;margin-top: 10px"
              width="20px"
              text-right
              height="20px"
            />
          </div>
          <ion-row
            style="background: white;padding-left: 10px; border-bottom: 0.5px solid rgb(187, 183, 183); "
            *ngFor="let exp of experiences  let i = index"
            no-lines
            class="white-input-block"
          >
            <ion-col col col-90 text-wrap>
              <p text-wrap class="bold" style="font-size:18px">
               exp.Title
              </p>
              <p text-wrap>exp.Institute </p>
              <p text-wrap>
                 exp.StartDate|date: "MMM yyyy"  .
                  exp.isCurrentWorking ? "Present" : exp.EndDate|date: "MMM yyyy"

              </p>
            </ion-col>
            <ion-icon
            style="margin-top: 10px;margin-right: 10px;"
             class="icon-local"
             ios="ios-create" md="md-create"
             (click)="editExp(i)"
           ></ion-icon>
          </ion-row>
          <br />
          <div class="local-title">
            <ion-label class="bold ">SSC Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">SSC School</ion-label>
            <ion-label   text-right>{{profile.ssc}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Year of Passing SSC</ion-label>
            <ion-label text-right>{{profile.sscRank}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label" >SSC score</ion-label>
            <ion-label   text-right>{{profile.sscGrade}}</ion-label>
          </ion-item>
          <br />

          <div class="local-title">
            <ion-label class="bold ">HSC Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">HSC School</ion-label>
            <ion-label   text-right>{{profile.hsc}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Year of Passing HSC</ion-label>
            <ion-label text-right>{{profile.hscRank}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label" >HSC score</ion-label>
            <ion-label   text-right>{{profile.hscGrade}}</ion-label>
          </ion-item>
          <br />


          <div class="local-title">
            <ion-label class="bold ">Graduation Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Graduation College</ion-label>
            <ion-label   text-right>{{profile.degree}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Year of Completing Graduation</ion-label>
            <ion-label text-right>{{profile.degreeRank}}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label" >Avg. Grade Score</ion-label>
            <ion-label   text-right>{{profile.degreeGrade}}</ion-label>
          </ion-item>
          <br />

        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
