<ion-header>
  <ion-navbar #navbar color="primary">
    <ion-buttons left>
      <button
        ion-button
        icon-only
        (click)="viewCtrl.dismiss()"
        class="my-style-for-modal"
      >
        <ion-icon name="arrow-back"></ion-icon>
        <ion-title [ngClass]="!isEdit ? 'hide' : ''">Edit Education</ion-title>

        <ion-title [ngClass]="isEdit ? 'hide' : ''">Add Education</ion-title>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="login greywhite-page">
  <div class="login-content">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:20px">School </ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. G. H. Patel School"
              type="text"
              center
              [(ngModel)]="data.school"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:20px">Degree </ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. HSC"
              type="text"
              center
              required
              [(ngModel)]="data.degree"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:20px">Field of Study </ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. Science Streme"
              type="text"
              center
              required
              [(ngModel)]="data.field"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:20px">Grade (Optinal) </ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 85%"
              type="text"
              center
              required
              [(ngModel)]="data.grade"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines>
            <ion-checkbox [(ngModel)]="data.isCurrentWorking"></ion-checkbox>
            <ion-label>I currently studying here</ion-label>
          </ion-item>
          <br />
          <ion-row style="background: white;">
            <ion-col no-lines>
              <ion-label
                style="margin-left: 10px;color: grey;"
                (click)="datePickerfunc()"
                >Start date</ion-label
              >
              <ion-datetime
                displayFormat="MMM YYYY"
                placeholder="MMM YYYY"
                [(ngModel)]="data.StartDate"
              ></ion-datetime>
            </ion-col>
            <ion-col [ngClass]="data.isCurrentWorking ? 'hide' : ''" no-lines>
              <ion-label
                style="margin-left: 10px;color: grey;"
                (click)="datePickerfunc()"
                >End date</ion-label
              >
              <ion-datetime
                displayFormat="MMM YYYY"
                placeholder="MMM YYYY"
                [(ngModel)]="data.EndDate"
              ></ion-datetime>
            </ion-col>
          </ion-row>
          <br />
          <br />
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="right-text" style="margin:18px;">
      <ion-list class="right-text">
        <div class="wrapper-div">
          <div class="left_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="discard()"
            >
              &nbsp;DISCARD&nbsp;
            </button>
          </div>
          <div center>
            <button
              [ngClass]="isEdit ? 'hide' : ''"
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="save()"
            >
              Add Education
            </button>
            <button
              [ngClass]="!isEdit ? 'hide' : ''"
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="save()"
            >
              Update Education
            </button>
          </div>
        </div>
      </ion-list>
    </ion-row>
  </div>
</ion-content>
