<ion-header>
  <ion-navbar #navbar color="primary">
    <ion-buttons left>
      <button
        ion-button
        icon-only
        (click)="viewCtrl.dismiss()"
        class="my-style-for-modal"
      >
        <ion-icon name="arrow-back"></ion-icon>
        <ion-title>Create New Event</ion-title>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="login greywhite-page">
  <div class="login-content">
    <ion-row>
      <ion-col>
        <ion-list inset>

            <!-- <ion-thumbnail slot="start">
                          <img src="https://cdn.onlinewebfonts.com/svg/img_507320.png" class="circle-pic" >
                        </ion-thumbnail> -->
            <ion-label center text-center row
              ><h3>{{ sportName }}</h3></ion-label
            >

          <br />
          <ion-item no-lines>
            <ion-label>Select Schedule Type</ion-label>
          </ion-item>
          <ion-list radio-group [(ngModel)]="gameType">
            <ion-item no-lines>
              <ion-label>Game</ion-label>
              <ion-radio value="Game" checked></ion-radio>
            </ion-item>
            <ion-item no-lines>
              <ion-label>Practise</ion-label>
              <ion-radio value="Practise"></ion-radio>
            </ion-item>
          </ion-list>

          <!-- <ion-select>
              <ion-option
                value="1"
                selected="true"
                (ionSelect)="gameType = 'Game'"
                >Game</ion-option
              >
              <ion-option value="2" (ionSelect)="gameType = 'Practise'"
                >Practise</ion-option
              >
            </ion-select> -->

          <!-- <br [ngClass]="gameType != 'Game' ? 'hide' : ''" /> -->

            <ion-item no-lines class="white-input-block">
              <ion-label style="margin-left:20px">Title of Event </ion-label>
              <ion-input
                end
                text-right
                type="text"
                debounce="500"
                name="venue"
                id="venue"
                placeholder="e.g. KheloJiyo 2019"
                type="text"
                center
                required
                [(ngModel)]="title"
              ></ion-input>
            </ion-item>
           <br/>

          <ion-item no-lines [ngClass]="gameType != 'Game' ? 'hide' : ''">
            <ion-label>Select type of Event </ion-label>
          </ion-item>

          <ion-list
            radio-group
            [ngClass]="gameType != 'Game' ? 'hide' : ''"
            [(ngModel)]="eventType"
          >
            <ion-item no-lines>
              <ion-label>Tournament</ion-label>
              <ion-radio value="Tournament" checked></ion-radio>
            </ion-item>
            <ion-item no-lines>
              <ion-label>Exhibition</ion-label>
              <ion-radio value="Exhibition"></ion-radio>
            </ion-item>
          </ion-list>

          <!-- <ion-item no-lines [ngClass]="gameType != 'Game' ? 'hide' : ''">
            <ion-select>
              <ion-option
                value="1"
                selected="true"
                (ionSelect)="eventType = 'Tournament'">Tournament</ion-option
              >
              <ion-option value="2" (ionSelect)="eventType = 'Exhibition'"
                >Exhibition</ion-option
              >
            </ion-select>
          </ion-item> -->

          <div class="autocomplete">
            <ion-item no-lines class="white-input-block">
              <ion-label style="margin-left:20px">Venue of Event </ion-label>
              <ion-input
                end
                text-right
                type="text"
                (ionChange)="search()"
                debounce="500"
                (ionChange)="search()"
                (ionBlur)="removeFocus()"
                name="venue"
                id="venue"
                placeholder="Add a Venue"
                type="text"
                center
                required
                [(ngModel)]="venue"
              ></ion-input>
            </ion-item>
            <ion-list style="margin-left:20px">
              <ion-item
                end
                text-right
                *ngFor="let country of countries"
                (click)="add(country)"
              >
                {{ country.placeName }}
              </ion-item>
            </ion-list>
          </div>
          <br />
          <ion-item no-lines>
            <ion-label (click)="datePickerfunc()">Date</ion-label>
            <ion-datetime
              displayFormat="MM/DD/YYYY HH:mm"
              placeholder="MM/DD/YYYY HH:mm"
              [(ngModel)]="eventDate"
            ></ion-datetime>
          </ion-item>
          <br />
          <div style="background: #fff  ;">

              <ion-row>
              <ion-col col-60>
                <ion-label style="margin-left:20px">Select Athletes </ion-label></ion-col>
              <ion-col col-20>
                <ion-label color="primary" text-right (click)="selectAll()"
                  >Select All
                </ion-label>
              </ion-col>
              <ion-col col-20>
                <ion-label color="danger" text-right (click)="deSelectAll()"
                  >Deselect All
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-50 *ngFor="let entry of rosters">
                <ion-item no-lines>
                  <ion-label>{{ entry.name }}</ion-label>
                  <ion-checkbox
                    slot="end"
                    [(ngModel)]="entry.isChecked"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <br />
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="right-text" style="margin:18px;">
      <ion-list class="right-text">
        <div class="wrapper-div">
          <div class="left_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="discard()">
              &nbsp;DISCARD&nbsp;
            </button>
          </div>
          <div center>
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="save()"
            >
              Add Event
            </button>
          </div>
        </div>
      </ion-list>
    </ion-row>
  </div>
</ion-content>
