<ion-header [scrollingHeader]="content">
  <div class="local-header-coach">
    <ion-navbar #navbar color="trasperrent">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title [ngClass]="isEdit ? 'hide' : ''">Profile</ion-title>
      <ion-title [ngClass]="!isEdit ? 'hide' : ''">Coach Profile</ion-title>
      <ion-buttons end>
        <button
          [ngClass]="isEdit ? 'hide' : ''"
          ion-button
          tappable
          (click)="editView(true)"
        >
          <ion-icon name="create"></ion-icon>
        </button>
        <button
          [ngClass]="!isEdit ? 'hide' : ''"
          ion-button
          tappable
          (click)="save()"
        >
          <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <div>
      <div style="text-align:center;" class="user-avatar">
        <img text-center src="{{ userImage }}" class="circle-pic-profile" />
      </div>
      <br />
      <h3 ion-text text-center class="no-margin bold ">
        {{ Firstname }} {{ Lastname }}
      </h3>
      <br />
    </div>
  </div>
</ion-header>

<ion-content [ngClass]="isEdit ? 'hide' : ''" class="greywhite-page">
  <div>
    <div class="local-title">
      <ion-label class="bold ">Contact Info</ion-label>
    </div>
    <ion-card>
      <ion-list>
        <ion-row class="vertical-center">
          <ion-icon class="icon-local" ios="ios-mail" md="md-mail"></ion-icon>
          <span style="margin:14px; font-size:14px;" ion-text>{{ Email }}</span>
        </ion-row>
        <ion-row class="vertical-center">
          <ion-icon class="icon-local" ios="ios-call" md="md-call"></ion-icon>

          <span style="margin:14px; font-size:14px;" ion-text
            >{{ Phone }}
          </span>
        </ion-row>

        <ion-row class="vertical-center">
          <ion-icon class="icon-local" ios="ios-pin" md="md-pin"></ion-icon>

          <span style="margin:14px; font-size:14px;" ion-text>
            {{ city }}{{city && state ? ",":""}}{{ state }}</span
          >
        </ion-row>
      </ion-list>
    </ion-card>
    <div class="local-title">
      <ion-label class="bold">Experience</ion-label>
    </div>

    <ion-card >
      <ion-row
        style="border-bottom: 0.5px solid rgb(187, 183, 183) "
        *ngFor="let exp of experiences"
        no-lines
        class="white-input-block"
      >

          <ion-icon
           style="margin-top: 10px;margin-right: 10px;"
            class="icon-local"
            ios="ios-color-palette"
            md="md-color-palette"
          ></ion-icon>
        <ion-col col-90 text-wrap>
          <p text-wrap class="bold" style="font-size:18px">
            {{ exp.Title }}
          </p>
          <p text-wrap>{{ exp.Institute }}</p>
          <p text-wrap>
            {{ exp.StartDate }}.{{
              exp.isCurrentWorking ? "Present" : exp.EndDate
            }}
          </p>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- <ion-row class="vertical-center">
      <ion-icon
        class="icon-local"
        ios="ios-color-palette"
        md="md-color-palette"
      ></ion-icon>
      <span style="margin:14px; font-size:14px; " ion-text
        >{{ currentPostion }} at {{ intitute }}
      </span>
    </ion-row> -->
    <br />
    <div class="local-title">
      <ion-label class="bold">Coaching Philosophy</ion-label>
    </div>
    <ion-card [ngClass]="!coachingPhilosophy ? 'hide' : ''" >
      <ion-row class="vertical-center">
        <ion-icon class="icon-local" ios="ios-flag" md="md-flag"></ion-icon>
        <span class="padding-8px" style="margin:14px; font-size:14px;" ion-text
          >{{ coachingPhilosophy }}
        </span>
      </ion-row>
    </ion-card>
    <div [ngClass]="coachingPhilosophy ? 'hide' : ''" style="margin-top: 50px"></div>
    <div class="local-title bold">
      <ion-label>Teams</ion-label>
    </div>
    <ion-card>
      <ion-list>
        <ion-row *ngFor="let team of globVar.teams">
          <img center class="circle-item " src="{{ teamImage }}" />
          <ion-row>
            <div style="margin-top:13px;">
              <span class="bold">{{ team.name }}</span>
              <br />
              <span> {{ sports[team.sportsId] }}</span>
            </div>
          </ion-row>
        </ion-row>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
<!-- //////////////////////////////////////////////////////////////////////// -->

<ion-content class="login greywhite-page" [ngClass]="!isEdit ? 'hide' : ''">
  <div class="login-content">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Personal Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:10px">First Name</ion-label>
            <ion-input
              name="firstname"
              id="loginField"
              placeholder="FirstName"
              type="text"
              required
              text-right
              [(ngModel)]="Firstname"
              #email
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:10px">Last Name</ion-label>
            <ion-input
              name="lastname"
              id="loginField"
              placeholder="LastName"
              type="text"
              required
              text-right
              [(ngModel)]="Lastname"
              #email
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label (click)="datePickerfunc()">Date of Birth</ion-label>
            <ion-datetime
              value="dob"
              displayFormat="DD/MM/YYYY"
              placeholder="DD/MM/YYYY"
              [(ngModel)]="dob"
              text-right
            ></ion-datetime>
          </ion-item>
          <br />
          <ion-row  style="background: white;"
           class="white-input-block"
           radio-group [(ngModel)]="gender">
            <ion-col>
                <ion-label style="margin-left:10px;color:grey;">Gender</ion-label>
            </ion-col>
            <ion-col>
              <ion-item no-lines>
                <ion-label text-right>Male</ion-label>
                <ion-radio value="1"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines>
               <ion-label text-right>Female</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>

          <br />
          <div class="local-title">
            <ion-label class="bold ">Contact Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:10px">Email Id</ion-label>

            <ion-input
              name="email"
              id="loginField"
              placeholder="play@khelojiyo.com"
              type="email"
              disabled
              required
              text-right
              [(ngModel)]="Email"
              #email
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:10px">Mobile Number</ion-label>
            <ion-input
              id="loginField"
              placeholder="Mobile Number"
              type="tel"
              text-right
              required
              [(ngModel)]="Phone"
              #number
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:10px">City</ion-label>
            <ion-input
              id="loginField"
              placeholder="City"
              type="text"
              text-right
              required
              [(ngModel)]="city"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="margin-left:10px">State</ion-label>

            <ion-input
              id="loginField"
              placeholder="State"
              type="text"
              required
              text-right
              [(ngModel)]="state"
            ></ion-input>
          </ion-item>
          <br />
          <div class="local-title">
            <ion-label class="bold" style="display:inline-block;"
              >Experience Info</ion-label
            >
            <img
              (click)="addExperience()"
              src="../../assets/imgs/add.png"
              style="float:right;margin-top: 10px"
              width="20px"
              text-right
              height="20px"
            />
          </div>
          <ion-row
            style="background: white;padding-left: 10px; border-bottom: 0.5px solid rgb(187, 183, 183); "
            *ngFor="let exp of experiences  let i = index"
            no-lines
            class="white-input-block"
          >
            <ion-col col col-90 text-wrap>
              <p text-wrap class="bold" style="font-size:18px">
                {{ exp.Title }}
              </p>
              <p text-wrap>{{ exp.Institute }}</p>
              <p text-wrap>
                {{ exp.StartDate|date: "MMM yyyy" }} . {{
                  exp.isCurrentWorking ? "Present" : exp.EndDate|date: "MMM yyyy"
                }}
              </p>
            </ion-col>
            <ion-icon
            style="margin-top: 10px;margin-right: 10px;"
             class="icon-local"
             ios="ios-create" md="md-create"
             (click)="editExp(i)"
           ></ion-icon>
          </ion-row>
          <br />
        <div class="local-title">
            <ion-label class="bold" style="display:inline-block;"
              >Coaching Philosophy</ion-label
            >
          </div>
          <ion-item no-lines class="white-input-block">

              <ion-input
                id="loginField"
                style="padding-left: 10px;"
                placeholder="Coaching Philosophy"
                type="text"
                required
                [(ngModel)]="coachingPhilosophy"
                ></ion-input>

          </ion-item>
        </ion-list>

      </ion-col>

    </ion-row>

    <ion-row class="right-text hide" style="margin:18px;">
      <ion-list class="right-text">
        <div class="wrapper-div">
          <div class="left_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="discard()"
            >
              DISCARD
            </button>
          </div>
          <div class="right_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="save()"
            >
              &nbsp;&nbsp;SAVE&nbsp;&nbsp;
            </button>
          </div>
        </div>
      </ion-list>
    </ion-row>
  </div>
</ion-content>
