page-stopwatch {}
  h1{
    letter-spacing: 0.035em
}
.stopwatch{
    min-height: 50vh;


}
.result{
    height: 50vh;
    overflow-y: scroll;
}
.circle-button{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color:white;
    border: 1px solid white;
    box-shadow: inset 0 0 0 3px #00b8a4;
    color:black;
}
.circle-button-red{
    box-shadow: inset 0 0 0 3px #FF655B;
}
.circle-button-bg{
    height: 125px;
    width: 125px;
}
.circle-button-md{
    height: 105px;
    width: 105px;
}
.bg-none{
    background:none;
    color:white;
}
.color-white{
    color:white;
}
.bg-green{
    background-color: #00b8a4;
}
.bg-pink{
    background-color: #FF655B;
}
.bg-white{
    background-color:white;
}
.bg-whitesmoke{
    background-color:whitesmoke;
}
.text-light{
    color: #675d5d;
}
.text-lighter{
    color: #c2afaf;
}
.border-bottom{
    border-bottom: 1px solid #7CCBE9;
}
.border-bottom-light{
  border-bottom: 1px solid #D3D3D3 !important;
}
.color-textgreen{
   color:#57bb8a;
}



