<ion-header>
  <ion-navbar #navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>StopWatch</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="stopwatch pt-3">
    <h1 text-center class="color-textgreen font-lg">
      <span> {{ time }} </span>
    </h1>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running">
          <button
            class="circle-button circle-button-bg font-md"
            ion-button
            (tap)="start()"
          >
            {{ "start" | translate }}
          </button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button
            class="circle-button circle-button-bg circle-button-red font-md"
            ion-button
            (tap)="stop()"
          >
            {{ "stop" | translate }}
          </button>
        </ion-col>
        <ion-col class="col-12" *ngIf="!running && time != blankTime">
          <button
            class="circle-button circle-button-bg font-md"
            ion-button
            (tap)="reset()"
          >
            {{ "reset" | translate }}
          </button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button
            class="circle-button circle-button-bg font-md"
            ion-button
            (tap)="lap()"
          >
            {{ "Lap" | translate }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let lap of laps; let i = index" text-center class="mt-5">
        <span> {{ lap }}</span>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- //////////////////////////////////////////////////////////////////////// -->
