// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// style for auth pages
.greywhite-page {
  background-color: #fff;

  &::after {
    content: "";
    background:  #ebe9e9;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
}

.auth-page {
  background-color: #fff;

  &::after {
    content: "";
    background: url('../assets/imgs/splash.png')no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .scroll-content {
    display: flex;



   // align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 100%;


      .logo {
        width: 90px;
        height: 90px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logo.png") no-repeat;
        background-size: 100%;
      }

      .lock {
        width: 90px;
        height: 90px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/lock.png") no-repeat;
        background-size: 100%;
      }

      .item-input-block {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff;
        background:  color($colors,semitrans);
        box-shadow: none;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 5px;
      }

      .grey-input-block {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff;
        background: color($colors,transgrey);
        box-shadow: none;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 5px;
      }


      .reg-input-block {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff;
        background:  color($colors,semitrans);
        box-shadow: none;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 5px;
      }
      .white-input-block {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff;
        background:  #fff;
        box-shadow: none;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 5px;
        border-color: #000;
      }



      .list-form {
        padding: 0;
        margin-bottom: 0;


        ion-item {
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, primary);
          }

          input {
            color: color($colors, primary);
          }
        }
      }
    }
  }
}

// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

///@at-root
.text-primary {
  color: color($colors, primary);
}



.text-secondary {
  color: color($colors, secondary);
}

.text-green {
  color: #68C91F;
}

.text-yellow {
  color: #FDD835;
}

.text-white {
  color: #fff;
}
.text-grey {
  color: #adadad;
  font-size:22px;
}




.passwordTheme{
  font-size:2rem !important;
  position: relative !important;
  top: 22px !important;
  margin: 0 auto !important;
}

// Menu user profile
.user-profile {
  padding-top: 100px;
  .user-avatar {
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
    img {
      border-radius: 50%;
    }
  }
  .toolbar-background {
    background: url("../assets/imgs/splash.png") no-repeat;

    //background-image: linear-gradient(135deg, color($colors, primary), color($colors, primary));
  }

  .other-data {
    .column {
      &:first-child {
        border-right: 1px solid rgba(36, 50, 157, .25);
      }
    }
  }
}


// Helpers
.quarter-op {
  opacity: .25;
}

.no-paddingTRL {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-paddingTRB {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.no-paddingB {
  padding-bottom: 0 !important;
}

.no-paddingT {
  padding-top: 0 !important;
}

.padding-xs {
  padding: 10px;
}

.no-padding {
  padding: 0 !important;
}

.no-pl {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0;
}

.no-marginT {
  margin-top: 0 !important;
}

.mt-half {
  margin-top: .5rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-half {
  margin-bottom: .5rem;
}

.marginB-16px {
  margin-bottom: 16px !important;
}

.marginB-2 {
  margin-bottom: 2rem !important;
}

.marginT-16px {
  margin-top: 16px !important;
}

.marginT-2 {
  margin-top: 2rem !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.round {
  border-radius: 1rem;
  overflow: hidden;
}

.no-round {
  border-radius: 0;
}

.border-bottom {
  border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

.full-width {
  width: 100% !important;
}

.max-width {
  max-width: 100% !important;
}

.padding-sm {
  padding: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold !important;
}

// buttons configs
.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  border-radius: 1rem;
  box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}


// card style
.right-text {
  display: block;
   margin: auto;
   text-align: right;
}

//hide

.hide {
  display: none;
}







@media screen and (orientation: landscape) {
  .ion-app.md [padding] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 1px calc(env(safe-area-inset-right) + 16px) 16px calc(env(safe-area-inset-left) + 16px);
  }
}

/* Extreme Left Right Css -------------------------*/

.wrapper-div {
  display: inline-block;
  width: 100%;
}
.right_item {
  margin-right: 8px;
  color : white;
  float: right;

}
.left_item {
  margin-left: 8px;
  color : white;
  float: left;
}



.circle-pic{
  width:68px;
  height:68px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
   border: 1px solid #000;
 }


 .circle-item{
  width:40px;
  height:40px;
  margin:10px ;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000; }


  .underline { text-decoration: underline; }


  .padding-8px { padding: 8px; }
