<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Teams</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login greywhite-page" >
      <ion-list>
           <ion-row *ngFor="let team of globVar.teams let i=index" (click)="loadTeam(i)">
                <img center style="margin-top: 15px;" class="circle-item" src="{{teamImage}}"  >
              <ion-label class="label-local" center>
                <h5> {{team.name}}</h5>
                     {{sports[team.sportsId]}}</ion-label>
          </ion-row>
      </ion-list>
  <!-- <ion-list>
  <ion-row *ngFor="let team of teams">

        <img src="{{teamImage}}" class="circle-item" >

      <ion-label>
        <h3> {{team.name}}</h3>
              {{sports[team.sportsId]}}</ion-label>
  </ion-row>
</ion-list> -->

<ion-fab bottom right (click)="addTeam()">
<button  ion-fab fab-bottom fab-right>
  <ion-icon name="add"></ion-icon>
</button>
</ion-fab>


</ion-content>


<!-- <ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" padding></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of items" >
       <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end >
        {{item.note}}
       <ion-icon ios="ios-create" md="md-create" (click)="openModal($event, item)" padding></ion-icon>
       <ion-icon ios="ios-trash" md="md-trash" (click)="itemTapped($event, item)"></ion-icon>
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content> -->
