
<ion-header>

    <ion-navbar   #navbar  color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="viewCtrl.dismiss()" class="my-style-for-modal">
                <ion-icon name="arrow-back"></ion-icon>
                <ion-title >Add New Team</ion-title>
            </button>
        </ion-buttons>

    </ion-navbar>
  </ion-header>
    <ion-content class="login greywhite-page" >
        <div class="login-content">
          <ion-row>
            <ion-col>
              <ion-list inset>
                <ion-item no-lines >
                  <ion-label>Select Sport</ion-label>
                  <ion-select
                      >
                      <ion-option
                      *ngFor="let sport of sports let i=index"
                      value="{{sport}}"
                      selected = "{{i == teamId ?true:false}}"
                      (ionSelect)="teamId=i">
                      <ion-label>{{sport}}</ion-label>
                   </ion-option>

                    <!-- <ion-option value="1" selected="true"  (ionSelect)="sport='1'">100m Race</ion-option>
                    <ion-option value="2"   (ionSelect)="sport='2'">1000m Race</ion-option>
                    <ion-option value="3"   (ionSelect)="sport='3'">Marathon Race</ion-option> -->

                  </ion-select>
                </ion-item>
                <br />
                <ion-item no-lines >
                    <ion-label>Gender</ion-label>
                    <ion-select  >
                      <ion-option value="1" selected="true"  (ionSelect)="gender='M'">Male</ion-option>
                      <ion-option value="2" (ionSelect)="gender='F'">Female</ion-option>
                    </ion-select>
                  </ion-item>
                   <br />
                <ion-item no-lines  class="white-input-block">
                    <ion-input
                      name="lastname"
                      id="loginField"
                      placeholder="Team Name"
                      type="text"
                      center
                      required
                      [(ngModel)]="teamName"
                      #email
                    ></ion-input>
                  </ion-item>


                <br />
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="right-text" style="margin:18px;">
            <ion-list class="right-text">
              <div class="wrapper-div">
                <div class="left_item">
                  <button
                    ion-button
                    class="submit-btn"
                    style="border-radius: 5px;"
                    (click)="discard()">
                    &nbsp;DISCARD&nbsp;
                  </button>
                </div>
                <div center>
                  <button
                    ion-button
                    class="submit-btn"
                    style="border-radius: 5px;"
                    (click)="save()"
                  >
                    Add Team
                  </button>
                </div>
              </div>
            </ion-list>
          </ion-row>
        </div>
      </ion-content>
