<ion-content  [ngClass]="isEdit ? 'hide' : ''">
      <button
        [ngClass]="isEdit ? 'hide' : ''"
        ion-button
        style="z-index:9999;"
        class="button customBtn"
        tappable
        end float-right
        (click)="editView(true)" >
        <ion-icon name="create"></ion-icon>
      </button>

    <br/>
      <ion-list inset>
        <div style="text-align:center;" class="user-avatar">
          <img src="{{ teamImage }}" class="circle-pic" />
        </div>
        <div  style="text-align:center;
              margin:20px;
              font-size:12px;">
          <h3 ion-text class="no-margin bold ">
            {{ globVar.team.name }}
          </h3>
          <br />
          <span style="margin:12px; font-size:12px;" ion-text>
            {{ sports[globVar.team.sportsId]}}</span>
          <br />

        </div>
      </ion-list>

  <br />
  <ion-label > <h3> Coaches</h3></ion-label>

  <ion-list>
      <ion-row *ngFor="let coach of assistantCoach">
            <img class="circle-item" src="{{coachImage}}"  >
          <ion-label>
            <h6> {{coach.name}}</h6>
                 {{coach.emailId}}</ion-label>
      </ion-row>
  </ion-list>

  <ion-fab  [ngClass]="globVar.isPlayer ? 'hide' : ''"  bottom right (click)="addCoach()">
    <button  ion-fab fab-bottom fab-right>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>


<!-- //////////////////////////////////////////////////////////////////////// -->

<ion-content class="login greywhite-page" [ngClass]="!isEdit ? 'hide' : ''">
  <div class="login-content">
    <ion-row>
      <ion-col>
        <br />
        <div style="text-align:center;" class="user-avatar">
          <img src="{{ teamImage }}" class="circle-pic" />
        </div>
        <ion-list inset>
          <br />
          <ion-item no-lines  class="white-input-block">
            <ion-input
              name="teamName"
              id="loginField"
              placeholder="Team Name"
              type="text"
              value ="{{globVar.team.name}}"
              center
              required
              [(ngModel)]="teamName"
              #email
            ></ion-input>
          </ion-item>
          <br />
          <span style="margin:12px; font-size:12px;text-align:center;" ion-text>
            {{ sportName }}</span>
          <br />
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="right-text" style="margin:18px;">
      <ion-list class="right-text">
        <div class="wrapper-div">
          <div class="left_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="editView(false)">
              DISCARD
            </button>
          </div>
          <div class="right_item">
            <button
              ion-button
              class="submit-btn"
              style="border-radius: 5px;"
              (click)="save()"
            >
              &nbsp;&nbsp;SAVE&nbsp;&nbsp;
            </button>
          </div>
        </div>
      </ion-list>
    </ion-row>
  </div>
</ion-content>

