<ion-content padding class="login auth-page">
  <div class="login-content">
    <div padding-horizontal text-center>
      <div class="lock"></div>
    </div>
    <!-- Logo -->
    <div  class="item-input-block" style="padding-right: 16px; padding-bottom: 16px" padding-horizontal text-center>
      <br />
      <h2 ion-text class="text-primary text-white ">
        <strong> Recover Your Password</strong>
      </h2>
      <br />
      <h6 ion-text class=" text-primary text-white ">
         We will send you a link to reset your password 
      </h6>
  
    <div>
      <form #loginForm="ngForm" autocomplete="off">
        <ion-row>
          <ion-col>
            <ion-item no-lines class="grey-input-block">
              <ion-icon name="mail" item-start style="font-size:22px;" class="text-white"> </ion-icon>
              <ion-input text-center name="username" 
                   id="loginField"  
                   placeholder="play@khelojiyo.com"
                   type="email"
                    required [(ngModel)]='username' #email ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            <button ion-button class="submit-btn" full type="submit" (click)="login()"
              [disabled]="!loginForm.form.valid">Submit Email Id
            </button>
          </ion-col>
        </ion-row>
        <br />
        <div style="text-align:center;margin:20px;
          color: white;font-size:12px;
          font-size:12px; 
          font-style: italic;
          text-transform: initial;         
          text-decoration: underline" (click)="finish()">
          Back To Login
         
        </div>
      
            


      </form>

    </div>
  </div>
  </div>
</ion-content>