<ion-header>
  <div class="local-header-coach">
    <ion-navbar #navbar color="trasperrent">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title [ngClass]="isEdit ? 'hide' : ''"
        >{{sport}} Race Statistics</ion-title
      >
      <ion-title [ngClass]="!isEdit ? 'hide' : ''"
        >Edit {{sport}} Race Statistics</ion-title
      >
      <ion-buttons end>
        <button
          [ngClass]="isEdit ? 'hide' : ''"
          ion-button
          tappable
          (click)="editView(true)"
        >
          <ion-icon name="create"></ion-icon>
        </button>
        <button
          [ngClass]="!isEdit ? 'hide' : ''"
          ion-button
          tappable
          (click)="save()"
        >
          <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </div>
</ion-header>
<ion-content [ngClass]="isEdit ? 'hide' : ''" class="greywhite-page">
  <div class="parent-local">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Personal Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Total Races Won</ion-label>
            <ion-label text-right>{{ stat.totalRacesWon }}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Total Race Lost</ion-label>
            <ion-label text-right>{{ stat.totalRaceLost }}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Total Races Participated</ion-label>
            <ion-label text-right>{{ stat.totalRacesParticipated }}</ion-label>
          </ion-item>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Win Ratio</ion-label>
            <ion-label text-right>{{ stat.winRatio }}</ion-label>
          </ion-item>
          <br />
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Best Score</ion-label>
            <ion-label text-right>{{ stat.bestScore }}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Worst Score</ion-label>
            <ion-label text-right>{{ stat.worstScore }}</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Achievements</ion-label>
            <ion-label text-right>{{ stat.achievements }}</ion-label>
          </ion-item>
          <br />
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-content
  [ngClass]="!globVar.editPlayerPersonal ? 'hide' : ''"
  class="greywhite-page"
>
  <div class="parent-local">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Personal Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Total Races Won</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 5"
              type="text"
              center
              [(ngModel)]="stat.totalRacesWon"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Total Race Lost</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 15"
              type="text"
              center
              [(ngModel)]="stat.totalRaceLost"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Total Races Participated</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 20"
              type="text"
              center
              [(ngModel)]="stat.totalRacesParticipated"
            ></ion-input>
          </ion-item>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Win Ratio</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 40"
              type="text"
              center
              [(ngModel)]="stat.winRatio"
            ></ion-input>
          </ion-item>
          <br />
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Best Score</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 10.12s"
              type="text"
              center
              [(ngModel)]="stat.bestScore"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Worst Score</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g. 12.42s"
              type="text"
              center
              [(ngModel)]="stat.worstScore"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Achievements</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g.Played State level"
              type="text"
              center
              [(ngModel)]="stat.achievements"
            ></ion-input>
          </ion-item>
          <br />
        </ion-list>
      </ion-col>
    </ion-row>
  </div>

  <div class="parent-local">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Personal Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">First Name</ion-label>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Last Name</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="Last Name"
              type="text"
              center
              [(ngModel)]="Lastname"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label style="padding-left: 0px;" class="grey-label"
              >Date of Birth</ion-label
            >
            <ion-datetime
              displayFormat="DD MMM, YYYY"
              placeholder="DD MMM, YYYY"
              [(ngModel)]="profile.dob"
              text-right
            ></ion-datetime>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Height</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 176cm"
              type="text"
              center
              [(ngModel)]="profile.height"
            >
            </ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label left-seprator">Weight</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 70kg"
              type="text"
              center
              [(ngModel)]="profile.weigth"
            >
            </ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">BMI</ion-label>
            <ion-label text-right>{{ profile.bmi }}</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 20.0"
              type="text"
              center
              [(ngModel)]="profile.bmi"
            ></ion-input>
          </ion-item>
          <br />
          <div class="local-title">
            <ion-label class="bold ">Contact Info</ion-label>
          </div>
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Email Id</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g play@example.com"
              type="text"
              center
              [(ngModel)]="Email"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Mobile Number</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 989898454545"
              type="text"
              center
              [(ngModel)]="profile.contactNo"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Address</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 41, ManaliPark"
              type="text"
              center
              [(ngModel)]="profile.address"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">City</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g Ahmedabad"
              type="text"
              center
              [(ngModel)]="profile.city"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label left-seprator">Pincode</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g 380054"
              type="text"
              center
              [(ngModel)]="profile.pinCode"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">State</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g Gujarat"
              type="text"
              center
              [(ngModel)]="profile.state"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item no-lines class="white-input-block">
            <ion-label class="grey-label">Country</ion-label>
            <ion-input
              end
              text-right
              type="text"
              placeholder="e.g India"
              type="text"
              center
              [(ngModel)]="profile.country"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
