<ion-content class="greywhite-page">
  <div>
    <ion-list>
       <ion-card>
          <div class="local-title">
            <ion-label class="bold"  style="display:inline-block;" >100m Race</ion-label>
             <!-- <img
              (click)="goToSportStats(0)"
              src="../../assets/imgs/add.png"
              style="float:right;margin-top: 10px"
              width="20px"
              text-right
              height="20px"
            /> -->
          </div>
      </ion-card>

        <ion-card>
        <ion-row class="vertical-center">
          <div class="local-title">
            <ion-label class="bold">1000m Race</ion-label>

          </div>
        </ion-row>
      </ion-card>

      <ion-card>
      <ion-row class="vertical-center">
        <div class="local-title">
          <ion-label class="bold">Marathon Race</ion-label>

        </div>
      </ion-row>
    </ion-card>

      <ion-card>
      <ion-row class="vertical-center">
        <div class="local-title">
          <ion-label class="bold">Long Jump</ion-label>

        </div>
      </ion-row>
    </ion-card>


    </ion-list>
  </div>
</ion-content>
<!-- //////////////////////////////////////////////////////////////////////// -->
