<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title center>Team Profile</ion-title>
    </ion-navbar>
      <ion-row style="background:white;"
        (click)="isSelctionView = true" >
        <img
        style="margin-top: 20px;"
          bottom
          class="circle-item"
          src="{{ teamImage }}" />
        <ion-label  class="label-header">
          <h5>{{ teamName }}</h5>
          {{ sport }}</ion-label
        >
      </ion-row>

  </ion-header>

<ion-content padding>
    <div>
  <ion-list>
      <ion-row *ngFor="let roster of rosters">
            <img class="circle-item" src="{{itemImage}}"  >
          <ion-label>
            <h6> {{roster.name}}</h6>
                {{roster.emailId}}</ion-label>
      </ion-row>
  </ion-list>
  <ion-fab bottom right >
      <button (click)="addRosters()"
      ion-fab fab-bottom fab-right >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    </div>

    <div [ngClass]="!isSelctionView ? 'hide' : 'div-overlay'">
      <ion-list>
        <ion-row
          class="row-local"
          *ngFor="let team of globVar.teams; let i = index"
          (click)="changeTeam(i)"
        >
          <img
            center
            style="margin-top: 15px;"
            class="circle-item"
            src="{{ teamImage }}"
          />
          <ion-label class="label-local" center>
            <h5>{{ team.name }}</h5>
            {{ sports[team.sportsId] }}</ion-label
          >
        </ion-row>
      </ion-list>
  </div>
</ion-content>
