<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Team Profile</ion-title>
  </ion-navbar>
  <ion-row
    style="background:white;"
    [ngClass]="globVar.isPlayer ? 'hide' : ''"
    (click)="isSelctionView = true"
  >
    <img
      style="margin-top: 20px;"
      bottom
      class="circle-item"
      src="{{ teamImage }}"
    />
    <ion-label class="label-header">
      <h5>{{ teamName }}</h5>
      {{ sport }}</ion-label
    >
  </ion-row>
</ion-header>
<ion-content  [ngClass]="globVar.isPlayer? 'hide' : ''"   padding>
  <ion-tabs  tabsPlacement="top">
    <ion-tab [root]="tab1Root" tabTitle="SCHEDULE"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="ROSTER"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="PROFILE"></ion-tab>
  </ion-tabs>
  <div [ngClass]="!isSelctionView ? 'hide' : 'div-overlay'">
    <ion-list>
      <ion-row
        class="row-local"
        *ngFor="let team of globVar.teams; let i = index"
        (click)="changeTeam(i)"
      >
        <img
          center
          style="margin-top: 15px;"
          class="circle-item"
          src="{{ teamImage }}"
        />
        <ion-label class="label-local" center>
          <h5>{{ team.name }}</h5>
          {{ sports[team.sportsId] }}</ion-label
        >
      </ion-row>
    </ion-list>
  </div>
</ion-content>

<ion-content  [ngClass]="!globVar.isPlayer ? 'hide' : ''">
  <div class="div-center">
    <ion-label text-center>
      Seems Like you are not part of any team
    </ion-label>
    <ion-label text-center
      >Please ask your coach to add you to one today.</ion-label
    >
  </div>
</ion-content>
<!-- <ion-select
          [selectOptions]="globVar.teams[globVar.selectedTeamIndex]"
           class="customSelect"
           (ionChange) ="onSelectChange($event)" >
            <ion-label  class="ws">Teams</ion-label>
          <ion-option
             *ngFor="let selectedTeam of globVar.teams let i=index"
             value="{{selectedTeam.name}}"
             selected = "{{i==globVar.selectedTeamIndex?true:false}}"
             (ionSelect)="globVar.selectedTeamIndex=i">
             <ion-label> <h3> {{selectedTeam.name }}</h3>
              <br/>
              ({{sports[selectedTeam.sportsId]}})</ion-label>
          </ion-option>
        </ion-select> -->
