page-teamprofile {
}
.customSelect {
  max-width: 100% !important;
  width: 100%;
}
.ws {
  white-space: pre-line;
}
ion-col.my-thin-col {
  flex: 0 0 50px;
  padding: 0;
  margin-right: 10px;
}

.select-text {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 16px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.div-overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  padding-top: 3px;
  top: 0;
  left: 0;
  background: color($colors, blacktrans);
  width: 100vw;
  height: 100vh;
}
.label-local {
  margin: 0px 1px 8px 0px;
  padding-top: 8px;
}
.label-header {
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
}
.row-local{
  background: white;
  padding: 3px;
  border-bottom: 0.5px solid grey;
}
.div-center{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);

}
